body {

}

h1 {
  color:red;
}

.addmargins {
  margin:2%;
  max-width:900px;
}

.alignleft {
  text-align:left
}

g {
  fill:none;
}

g.arc {
  fill:black;
}

.tick line{
  opacity:0.2;
  fill: none;
  stroke: black;
}

.tick text{
  fill: black;
}

.active_graph {
}

svg {
  height:100%;
  margin-bottom:0px;
}

.is_red_zone {
  background-color:red
}

.is_rz {
  background-color:yellow;
}

.player_row.QB {
/*  border:1px solid #04859D; */

}

.player_row.WR {
  border-bottom-color:#1437AD;
  border-bottom-style:ridge;
  border-left-color:#1437AD;


}

.player_row.TE {
  border-bottom-color:#FFB000;
  border-bottom-style:ridge;
  border-left-color:#FFB000;

}

.player_row.RB {
  border-bottom-color:#FF7C00;
  border-bottom-style:ridge;
  border-left-color:#FF7C00;

}

#holder {
  width:800px;
}

.paginate {
  color:blue;
  cursor:pointer;
  float:right;
}

.player_main {
text-decoration:underline
}

.player_main:hover {
color:red;
cursor: pointer;
}

.compare {
  margin:10px;
  width:30%;
}

.single_player_stat_select {
  text-decoration:underline;
  cursor: pointer;
}

.single_player_stat_select:hover {
  color:red;
  cursor: pointer;
}

.passing_single {
  background-color:#F1F8BB;
  margin:10px;
}

.rushing_single {
  background-color:#DEA7BC;
  margin:10px;
}

.receiving_single {
  background-color:#A7B1C2;
  margin:10px;
}

.stat_header {
  float:right;
  font-size: 30px;
}

.close_btn {
  margin:10px;
}

.maintable td {
  text-align:right;
  padding: 3px;
}

td.playercell {
  white-space: nowrap;
  text-align:left;
}

.fanpts input {
  width:60px;
}

.fanptswell {
  padding:5px;
}

.fanptswell label {

}

.form-control input {
  padding:5px;
}

.well {
  padding:5px;
}

.well button {
  width:90%;
  padding:5px;
  margin-top:5px;
  margin-bottom:5px;
}

.well label {
  max-width:90%;
}


.btn-sidebar { 
  color: #ffffff; 
  background-color: #040205; 
  border-color: #130269; 
} 

.btn-sidebar:hover, 
.btn-sidebar:focus, 
.btn-sidebar:active, 
.btn-sidebar.active, 
.open .dropdown-toggle.btn-sidebar { 
  color: #ffffff; 
  background-color: #BA0000; 
  border-color: #130269; 
} 


