<div>
  Passing Yards<input type="number" ng-model='multiples.passing_yds' />
  Passing TDs<input type="number" ng-model='multiples.passing_tds' />
  Passing INT<input type="number" ng-model='multiples.passing_int' />
  Rushing Yards<input type="number" ng-model='multiples.rushing_yds' />
  Rushing TDs<input type="number" ng-model='multiples.rushing_tds' />
  Receiving Yards<input type="number" ng-model='multiples.receiving_yds' />
  Receiving TDs<input type="number" ng-model='multiples.receiving_tds' />
  Receptions<input type="number" ng-model='multiples.receiving_rec' />
</div>
