<div class='players_list' ng-controller = 'gridCtrl'>

<div player-comp-graph data='players' multipliers='multipliers' multiples='multiples' class='comp_graph'></div>

<div>
  Passing Yards<input type="number" ng-model='multiples.passing_yds' />
  Passing TDs<input type="number" ng-model='multiples.passing_tds' />
  Passing INT<input type="number" ng-model='multiples.passing_int' />
  Rushing Yards<input type="number" ng-model='multiples.rushing_yds' />
  Rushing TDs<input type="number" ng-model='multiples.rushing_tds' />
  Receiving Yards<input type="number" ng-model='multiples.receiving_yds' />
  Receiving TDs<input type="number" ng-model='multiples.receiving_tds' />
  Receptions<input type="number" ng-model='multiples.receiving_rec' />
</div>

<ul>
  <li ng-repeat="gweek in weeks">
  <input type="checkbox" ng-model="gweek.value">week {{gweek.week}}</li>
</ul>
<div id= "holder">
  
  <span class = 'player_row QB'> QB <input ng-click="position_check('QB')" type="checkbox" ng-model="positions.QB"></span>
  <span class = 'player_row RB'>RB <input ng-click="position_check('RB')" type="checkbox" ng-model="positions.RB"></span>
  <span class = 'player_row WR'>WR <input ng-click="position_check('WR')" type="checkbox" ng-model="positions.WR"></span>
  <span class = 'player_row TE'>TE <input ng-click="position_check('TE')" type="checkbox" ng-model="positions.TE"></span>
  
  
  <button ng-click="update_position()" ng-disabled='disabled'>UPDATE</button>

  <button ng-class="{true:'is_red_zone', false:'is_rz'}[is_red_zone]"s ng-click="red_zone()">Red Zone Only</button>
  <span paginate>
    
  </span>
</div>
  <table border="1" cellspacing="2" cellpadding="2">
    <tr><th></th><th>Player</th><th>Yards</th><th>TDs</th><th>INT</th>
    <th>Attempts</th><th>Completions</th><th>Yards</th>
    <th>TDs</th><th>Rushes</th><th>Yards</th><th>TDs</th><th>Receptions</th>
    <th>Targets</th></tr>
    <tbody ng-repeat ='player in players'>
      <tr ng-class='player.position' class='player_row'>
      <td>{{($index+1)+(page*25)}}</td>
      <td ng-click = get_single_player(player.player_id)><span class='player_main'>{{player.full_name}}</span></td>
      <td>{{player.passing_yds}}</td><td>{{player.passing_tds}}</td>
      <td>{{player.passing_int}}</td><td>{{player.passing_attempts}}</td>
      <td>{{player.passing_completions}}</td><td>{{player.rushing_yds}}</td> 
      <td>{{player.rushing_tds}}</td><td>{{player.rushing_att}}</td> 
      <td>{{player.receiving_yds}}</td><td>{{player.receiving_tds}}</td> 
      <td>{{player.receiving_rec}}</td> <td>{{player.receiving_tar}}</td>
      </tr>
      <tr ng-show = 'player.player_id == active_player'> 
        <td colspan="14">
      <div single_player></div> 
        </td>
      </tr>
      
    </tbody>
  </table>
  <div id='holder'>
    <span paginate></span>
  </div>
</div>
