<div class='players_list' ng-controller = 'gridCtrl'>

<div class="col-md-2">
  <div sidebar></div>
</div>  
  	
<div class="col-md-9">
  <div player-comp-graph data='players' multipliers='multipliers' multiples='multiples' class='comp_graph' ></div>
  <span paginate> </span>
  <table class='table table-bordered maintable'>
    <tr><th colspan=2></th><th colspan=5>Passing</th><th colspan=3>Rushing</th><th colspan=4>Receiving</th></tr>
    <tr><th></th><th>Player</th><th>Yards</th><th>TDs</th><th>INT</th>
    <th>Att</th><th>Comp</th><th>Yards</th>
    <th>TDs</th><th>Rushes</th><th>Yards</th><th>TDs</th><th>Rec</th>
    <th>Targets</th></tr>
    <tbody ng-repeat ='player in players'>
      <tr ng-class='player.position' class='player_row'>
      <td>{{($index+1)+(page*25)}}</td>
      <td ng-click = get_single_player(player.player_id) class='playercell'><span class='player_main'>{{player.full_name}}</span></td>
      <td>{{player.passing_yds | number:numfilter }}</td><td>{{player.passing_tds | number:numfilter}}</td>
      <td>{{player.passing_int | number:numfilter}}</td><td>{{player.passing_attempts | number:numfilter}}</td>
      <td>{{player.passing_completions | number:numfilter}}</td><td>{{player.rushing_yds | number:numfilter}}</td> 
      <td>{{player.rushing_tds | number:numfilter }}</td><td>{{player.rushing_att | number:numfilter}}</td> 
      <td>{{player.receiving_yds | number:numfilter}}</td><td>{{player.receiving_tds | number:numfilter}}</td> 
      <td>{{player.receiving_rec | number:numfilter}}</td> <td>{{player.receiving_tar | number:numfilter}}</td>
      </tr>
      <tr ng-show = 'player.player_id == active_player'> 
        <td colspan="14">
      <div single_player></div> 
        </td>
      </tr>
      
    </tbody>
  </table>
  <div id='holder'>
    <span paginate></span>
  </div>
</div>
