<div class="well" data-toggle='collapse'> 
   <div headerlinks></div>
  <ul class="nav nav-stacked" id="sidebar">
    <li><button class='btn btn-block' ng-click="update_position()" ng-disabled='disabled'>UPDATE</button></li>
    
    <label class="checkbox player_row QB">
  <input type="checkbox" ng-model="positions.QB">QB
</label>
<label class="checkbox player_row RB">
  <input type="checkbox" ng-model="positions.RB">RB
</label>
<label class="checkbox player_row WR">
  <input type="checkbox" ng-model="positions.WR">WR
</label>
<label class="checkbox player_row TE">
  <input type="checkbox" ng-model="positions.TE">TE
</label>
    
    <li><button class='btn' ng-class="{true:'is_red_zone', false:''}[is_red_zone]"s ng-click="red_zone()">Red Zone Only</button></li>
    <li><button class="btn" ng-class="{true:'is_red_zone', false:''}[!is_sum]"s ng-click="sum_or_avg()">Sum/Avg</button></li>
    
    <button class="btn" ng-model="isCollapsed" ng-click="isCollapsed = !isCollapsed">Edit Point Values</button>
	    <div collapse="!isCollapsed">
		  <div class="well fanptswell"><div fanpts></div></div> 
	  </div>
	  
	  <button class="btn" ng-model="isCollapsed2" ng-click="isCollapsed2 = !isCollapsed2">Customize Weeks</button>
	    <div collapse="!isCollapsed2">
		  <div class="well well">
        <div ng-repeat="gweek in weeks">
        <input type="checkbox" ng-model="gweek.value"><span ng-click="gweek.value=!gweek.value"> Week {{gweek.week}}</span></div>
        <button ng-click="update_position()" ng-disabled='disabled'>UPDATE</button>
      
		  </div> 
	  </div>
    
    
  </ul>
</div>
