<div ng-repeat = "player in players | orderBy: 'player.position'">
  {{player.player.full_name}} {{player.player.position}} {{player.player.college}}
  {{player.player.years_pro}} {{player.stats.rushing_tds}}
</div>

<div class = 'position_links'>
<button ng-click = "statChoice('passing_yds')">Passing_yds </button>
<button ng-click = "statChoice('passing_tds')">Passing_tds </button>
<button ng-click = "statChoice('rushing_yds')">Rushing_yds </button>
<button ng-click = "statChoice('rushing_tds')">Rushing_tds </button>
<button ng-click = "statChoice('rushing_att')">Rushing_atts </button>
<button ng-click = "statChoice('receiving_yds')">Receiving_yds </button>
<button ng-click = "statChoice('receiving_tds')">Receiving_tds </button>
<button ng-click = "statChoice('receiving_rec')">Receiving_rec </button>
<button ng-click = "statChoice('receiving_tar')">Receiving_targets </button>

<button ng-click = "red_zone()" ng-class="{true:'is_red_zone', false:'is_rz'}[is_red_zone]">Red Zone Only </button>
<button ng-click = "is_weekly_toggle()" ng-class="{true:'is_red_zone', false:'is_rz'}[is_weekly]">View as Weekly</button>

</div>

<div d3-pie data="stats" players='players' class = 'pie'></div>

<div d3-stacked data="stackstats" players='players' normalize='is_normalize' class = 'active_graph'></div>
<button ng-click = "toggle_normalize()">Normalize</button>
