<div>
<div class = 'position_links'>
<div ng-click='close()' class="btn btn-danger close_btn">Close</div>
<div class = 'passing_single'>
  
  <span ng-click = "statChoice('passing_yds')" class="btn btn-primary btn-mini">Yards </span>
  <span ng-click = "statChoice('passing_tds')" class="btn btn-primary btn-mini">Touchdowns </span>
  <span class= 'stat_header'>Passing</span>
</div>
<div class = 'rushing_single'>
  
  <span ng-click = "statChoice('rushing_yds')" class="btn btn-primary btn-mini"'>Yards </span>
  <span ng-click = "statChoice('rushing_tds')" class="btn btn-primary btn-mini">Touchdowns </span>
  <span ng-click = "statChoice('rushing_att')" class="btn btn-primary btn-mini">Attempts </span>
  <span class= 'stat_header'>Rushing</span>
</div>
<div class = 'receiving_single'>
  <span ng-click = "statChoice('receiving_yds')" class="btn btn-primary btn-mini">Yards </span>
  <span ng-click = "statChoice('receiving_tds')" class="btn btn-primary btn-mini">Touchdowns </span>
  <span ng-click = "statChoice('receiving_rec')" class="btn btn-primary btn-mini">Receptions </span>
  <span ng-click = "statChoice('receiving_tar')" class="btn btn-primary btn-mini">Targets </span>
  <span class= 'stat_header'>Receiving</span>
</div>



<input type="text" ng-model="asyncSelected" placeholder="enter player name to compare..." 
typeahead="suggest as suggest.name for suggest in get_auto_names($viewValue) | filter:$viewValue" 
typeahead-loading="loadingLocations" typeahead-min-length='3' 
typeahead-on-select = 'addPlayer(asyncSelected)' class="form-control compare"
ng-show="show_compare">

<!--
<input type="text" autocomplete postfunction="get_auto_names" list="_players_choices">
            <datalist id="_players_choices">
             <select ng-model='choice' ng-options="k as v for (k,v) in players_choice_names">
             </select>
</datalist>
-->
</div>
<div >
<!--
<ul>
  <li ng-repeat = "game in active_player_data.stats | orderBy:order_weeks">
  {{game.game.week}}
  {{game.game.home_team}} {{game.game.home_score}} 
  {{game.game.away_team}} {{game.game.away_score}} 
  </li>
</ul>
-->
<div ng-class = "{true: 'active_graph', false: 'inactive_graph'} [player.player.player_id == active_player]">
  <div d3_line_chart stats="players_on_graph_data" player="active_player_data.player.player_id"></div> 
</div>


